[submodule "1-week/yellow-paper-summary"]
	path = 1-week/yellow-paper-summary
	url = https://github.com/mmsaki/yellow-paper-summary.git
	branch = main
[submodule "1-week/execution-specs"]
	path = 1-week/execution-specs
	url = https://github.com/mmsaki/execution-specs.git
	branch = master
[submodule "2-week/evm-puzzles"]
	path = 2-week/evm-puzzles
	url = https://github.com/mmsaki/evm-puzzles.git
	branch = main
[submodule "2-week/gas-puzzles"]
	path = 2-week/gas-puzzles
	url = https://github.com/mmsaki/gas-puzzles.git
	branch = main
[submodule "3-week/more-evm-puzzles"]
	path = 3-week/more-evm-puzzles
	url = https://github.com/mmsaki/more-evm-puzzles.git
	branch = main
[submodule "3-week/huff-puzzles"]
	path = 3-week/huff-puzzles
	url = https://github.com/mmsaki/huff-puzzles.git
	branch = main
[submodule "woke"]
	path = woke
	url = https://github.com/Ackee-Blockchain/woke.git
[submodule "2-week/fake-number"]
	path = 2-week/fake-number
	url = https://github.com/mmsaki/fake-number.git
[submodule "3-week/Huff-Console"]
	path = 3-week/Huff-Console
	url = https://github.com/mmsaki/Huff-Console.git
[submodule "4-5-week/foundry-yul"]
	path = 4-5-week/foundry-yul
	url = https://github.com/mmsaki/foundry-yul.git
[submodule "4-5-week/ERC1155yul/lib/forge-std"]
	path = 4-5-week/ERC1155yul/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "4-5-week/ERC1155yul/lib/solmate"]
	path = 4-5-week/ERC1155yul/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "4-5-week/ERC1155yul/lib/openzeppelin-contracts"]
	path = 4-5-week/ERC1155yul/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
