[submodule "gas-puzzles"]
	path = gas-puzzles
	url = https://github.com/mmsaki/gas-puzzles.git
[submodule "1-week/yellow-paper-summary"]
	path = 1-week/yellow-paper-summary
	url = https://github.com/mmsaki/yellow-paper-summary.git
[submodule "1-week/execution-specs"]
	path = 1-week/execution-specs
	url = https://github.com/mmsaki/execution-specs.git
[submodule "2-week/evm-puzzles"]
	path = 2-week/evm-puzzles
	url = https://github.com/mmsaki/evm-puzzles.git
